.hidden {
  display: none;
}
/* ===========   General styles */
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-padding {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* ===========    Conteiner  styles */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ===========    Header  styles */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  border-color: #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.nav-list,
.contact-page {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.logo-color {
  color: #2e2f42;
}

.page-nav {
  margin-right: auto;
}

.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-burger {
  fill: #2f2f37;
  display: block;
}
/*    header */
@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .logo {
    padding: 24px 0;
  }

  .page-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin-left: 120px;
  }

  .nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
  }

  .nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .contact-page {
    display: block;
    font-style: normal;
  }
  .contact-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contact-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
/* =======     Hero  styles */
.hero {
  background: #2e2f42;
  max-width: 320px;
  height: 432px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero-mobile@2x.jpg');
  }
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 72px auto;
  max-width: 216px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding: 16px; 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero { max-width: 768px;
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero-tablet.jpg');
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 112px auto 36px auto;
    max-width: 768px;
  }
}

@media screen and (mix-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero-tablet@2x.jpg');
  }
}


@media screen and (min-width: 1158px) {
  .hero { max-width: 1440px;
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero-desktop.jpg');
  }
}

@media screen and (mix-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url('../images/hero-desktop@2x.jpg');
  }
}