ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section-paddings {
 padding: 120px 0; 
}
.section-title {
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;}


/* ============  header styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-color {
  color: #2e2f42;
}
.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* ============  header contacts styles */

.contact-page {
  font-style: normal;
  
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    border-color: #E7E9FC;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc; 
 }

.page-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
gap: 40px;
}
.nav-item {
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
}
.contact-menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
  gap: 40px;
}
.logo {
  margin-right: 76px;
}
.contact-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link-padding {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* ============  main styles */
/* ============   hero styles */
/* =========== Section  2*/
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding: 16px; 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  }

.hero {
  background: #2e2f42;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  margin-bottom: 48px;
  max-width: 496px;
}
/* ============  main abbility styles */
/*  ========== Section 2 */

.abbillity-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.abbillity-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
 
}

.abbillity-menu {
  display: flex;
  gap: 24px;
}
.abbillity-item {
display: flex;
flex-direction: column;
width: 264px;
width: calc(100%-24*3)/4;

}
.abbillity-item:not(:last-child) {
  margin-right: 24px; 
}
/* ============  main our team styles */
/* ========== Section 3 */
.our-team {
  background: #f4f4fd;
  text-transform: capitalize;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
min-width: 264px;
}

.our-team-item {
  background: #ffffff;
    border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-menu {
  display: flex;
  gap: 24px;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-text {
  padding: 32px 0; 
}



/* ============  main portfolio styles */
/* ============ Section 4 */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*   налаштування */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 40px;
}
.portfolio-item {
  width: calc(100-2*24) /3;
  row-gap: 48px;
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}


/* ============  footer styles */
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
max-width: 264px;
padding-top: 16px;
}

.footer {
  background: #2e2f42;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block; 
  margin-bottom: 16px
}
.footer-logo-color {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
.footer-container {
  padding: 100px 0;
}