ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section-paddings {
 padding: 120px 0; 
}
.section-title {
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  .link-padding {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

/* ============  header styles */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    border-color: #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
 }
  
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-color {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
  }
.nav-list {
  display: flex;
  justify-content: flex-start;
gap: 40px;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  }

.nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current{
position: relative;
color: #404bbf;

}
.current::after {
  content: "";
  border-radius: 2px;
width: 100%;
height: 4px;
background: #404bbf;
position: absolute;
left: 0;
bottom: -1px;
}


.contact-page {
  font-style: normal;
  }
  .contact-menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
  gap: 40px;

}
.contact-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}


/* ============  main styles */
/* ============   hero styles */
/* =========== Section  1*/
.hero {
  background: #2e2f42;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))  , url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
   margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding: 16px; 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ============  main abbility styles */
/*  ========== Section 2 */


.abbillity-menu {
  display: flex;
  gap: 24px;
  }

.abbillity-item {
display: flex;
flex-direction: column;
width: calc((100% - 72px) / 4); 
}

.abbillity-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
 
}
.abbillity-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }

.icon-box {
display: flex;
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

.abbility-icon {
  fill: #2e2f42;
}


/* ============  main our team styles */
/* ========== Section 3 */
.our-team {
  background: #f4f4fd;
  text-transform: capitalize;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
min-width: 264px;
}

.our-team-menu {
  display: flex;
  gap: 24px;
}
.our-team-item {
  background: #ffffff;
    border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text {
  padding: 32px 0; 
}
.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.social-list {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
  }
.social-list-link {
  width: 100%;
  height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
    display: flex;
align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
.social-list-link:hover,
 .social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
fill: #f4f4fd;
}


/* ============  main portfolio styles */
/* ============ Section 4 */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
}
.portfolio-item {
  width: calc(100-2*24) /3;
 }



.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.portfolio-overlay {
font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: #4d5ae5;
  border: 1px solid #e7e9fc;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
overflow: auto;
}

.portfolio-overlay-static {
  position: relative;
  overflow: hidden ;
}
.portfolio-item:hover .portfolio-overlay {
transform: translateY(0%);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



/* ============  footer styles */
.footer {
  background: #2e2f42;
  padding: 100px 0 100px;
}

.footer-conteiner {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.footer-text-logo {
margin-right: 120px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block; 
  margin-bottom: 16px
}
.footer-logo-color {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
max-width: 264px;
padding-top: 16px;
}


.social-text {
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}


.social-list-link-footer {
  display: flex; 
  gap: 16px;
}
.social-list-link-footer:hover, 
.social-list-link-footer:focus {
  background-color: #31d0aa;
}